<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Dashboard Admin - Graphistes</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script> <!-- Assurez-vous que le chemin est correct -->
</head>
<body>
    <header>
        <h1>LA FABRIQUE GRAPHIQUE</h1>
    </header>
    <nav>
        <a href="#">Accueil</a>
        <a href="#">Statistiques</a>
    </nav>
    <div class="container">
        <div class="dashboard">
            <div class="card">
                <h2>Top 5 Fenêtres</h2>
                <ul id="top5"></ul> <!-- Utilisation d'un ID unique pour la liste -->
            </div>
            <div class="card">
                <h2>Qui fait quoi?</h2>
                <ul id="temps_p_p_list"> <!-- Utilisation d'un ID unique pour la liste -->
                    <li class="temps_p_p"></li>
                    <li class="temps_p_p"></li>
                    <li class="temps_p_p"></li>
                </ul>
            </div>
            <div class="card">
                <h2>Dernières 24h</h2>
                <ul id="last_24h_list">
                    <li class="last_24h"></li>
                    <li class="last_24h"></li>
                    <li class="last_24h"></li>
                    <li class="last_24h"></li>
                    <li class="last_24h"></li>
                </ul>
            </div>
            <div class="card">
                <h2>Temps Total</h2>
                <ul id="temps_total_list"> <!-- Utilisation d'un ID unique pour la liste -->
                    <li class="temps_total"></li>
                </ul>
            </div>
        </div>
        <div class="card">
            <h2>Notifications</h2>
            <ul>
                <li>Nouvelle mise à jour disponible pour le projet A.</li>
                <li>Rappel: Réunion de l'équipe demain à 10h.</li>
                <li>Feedback reçu pour le projet B.</li>
            </ul>
        </div>
    </div>

    <footer>
        <p>&copy; 2023 La Fabrique Graphique. Tous droits réservés.</p>
    </footer>
</body>
</html>
