<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Dashboard Admin - Graphistes</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="static/script.js"></script> <!-- Assurez-vous que le chemin est correct -->!

</head>
<body>
    <header>
        <h1>LA FABRIQUE GRAPHIQUE</h1>
    </header>
    <nav>
        <a href="#">Accueil</a>
        <a href="#">Statistiques</a>
    </nav>
    <div class="container">
        <div class="dashboard">
            <div class="card">
                <h2>Top 5 Fenêtres</h2>
                <ul>
                    <li id="top5"></li>
                    <li id="top5"></li>
                    <li id="top5"></li>
                    <li id="top5"></li>
                    <li id="top5"></li>
                </ul>
            </div>
            <div class="card">
                <h2>Qui fait quoi?</h2>
                <ul>
                    <p id="temps_p_p"></p>
                    <p id="temps_p_p"></p>
                    <p id="temps_p_p"></p>
                </ul>
            </div>
            <div class="card">
                <h2>Dernières 24h</h2>
                <ul id="last_24h_list">
                    <li class="last_24h"></li>
                    <li class="last_24h"></li>
                    <li class="last_24h"></li>
                    <li class="last_24h"></li>
                    <li class="last_24h"></li>
                </ul>
            </div>
            
        </div>
        <div class="card" style="margin-top: 20px;">
            <h2>Notifications</h2>
            <ul>
                <li>Nouvelle mise à jour disponible pour le projet A.</li>
                <li>Rappel: Réunion de l'équipe demain à 10h.</li>
                <li>Feedback reçu pour le projet B.</li>
            </ul>
        </div>
       
    </div>

    <div class="circle" id="circle1">
        <h2>TEMPS TOTAL</h2>
        <div id="result"></div> 
    </div>
    

    <div class="circle" id="circle2">
        <h2>TOP APP</h2>
        <p id="top_app"></p>
    </div>

    <div class="circle" id="circle3">
        <h2>TOP FOLDER</h2>
        <p id="top_folder"></p>
    </div>

    <footer>
        <p>&copy; 2023 La Fabrique Graphique. Tous droits réservés.</p>
    </footer>
</body>
</html>
