<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Landing Page</title>
</head>
<body>
    <div class="landing-container">
        <img src="{{ url_for('static', filename='images/montre.png') }}" alt="Montre à gousset" class="montre">
        <h1>WELCOME</h1>
        <a href="/dashboard" class="button">Go to Dashboard</a>
    </div>
</body>
</html>
